*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo);
}




//variables
@import "./variables/colores";
@import "./variables/tipografia";
@import "./variables/extend";
//secciones
@import "./secciones/header";
@import "./secciones/footer";
@import "./secciones/nosotros";
@import "./secciones/maintienda";


