header{
    .fondoheaderandfooter{
        background-image: linear-gradient(to right, rgba(31, 30, 30, 0.89),rgba(0, 0, 0, 0.568));
    }
    .banner1{
        width: 99,5vw;
padding-top: 2px;
    }
    .carrito{
        display: flex;
        width: 35px;
        height: 30px;
        margin: 5px;
    }
}
